@media only screen and (max-width: 505px){
    .box {
        width: 95%;
    }

    input, table {
        width: 100%;
    }

    .btn2 {
        margin-left: auto;
    }
}


/* @media only screen and (max-width: 457px){
    
} */